<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.1.0.481" targetFramework="xamarinmac20" />
  <package id="Microsoft.Data.Sqlite.Core" version="6.0.0-preview.2.21154.2" targetFramework="xamarinmac20" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinmac20" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinmac20" />
  <package id="Rg.Plugins.Popup" version="2.0.0.11" targetFramework="xamarinmac20" />
  <package id="sqlite-net-pcl" version="1.8.0-beta" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.4" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.core" version="2.0.5-pre20210119130047" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.4" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.0.4" targetFramework="xamarinmac20" />
  <package id="System.Buffers" version="4.4.0" targetFramework="xamarinmac20" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Memory" version="4.5.3" targetFramework="xamarinmac20" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinmac20" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinmac20" />
  <package id="Xamarin.CommunityToolkit" version="1.1.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.6.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms.PancakeView" version="2.3.0.763-beta" targetFramework="xamarinmac20" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="xamarinmac20" />
  <package id="ZXing.Net.Mobile" version="3.1.0-beta2" targetFramework="xamarinmac20" />
  <package id="ZXing.Net.Mobile.Forms" version="3.1.0-beta2" targetFramework="xamarinmac20" />
</packages>